.loginBox {
  margin: 20px;
  padding-left: 35px;
}

.width-256 {
  width: 256px !important;
}

.textLeft {
text-align: left;
margin-top: 20px;
}

.loginTab {
  width: 30%;
}

.form-style {
  display: table-caption;
}
