.widthAuto {
  width: auto !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: auto !important;
}

.dashboardContainer {

  width: 78%;
  margin-left: 20% !important;
}

.panels {
  height: 150px;
}
